@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

@import "tailwindcss";
@tailwind utilities;


@theme {
  --color-primary: #2563eb;
  --color-secondary: #9333ea;
  --color-accent: #EC4899;
  --color-background: #edf3ff;
}

@layer utilities {
  .main-gradient {
    @apply bg-linear-to-r from-primary to-secondary ;
  }
  .secondary-gradient {
    @apply bg-linear-to-br from-secondary from-0% to-70%   to-accent;
  }
  .hero-gradient{
    @apply bg-linear-to-br from-primary/75 via-secondary/75 to-accent/75 from-0% via-50% to-100%  ;
  }
  .advertisement1 {
    @apply bg-linear-to-br to-[#F97316] from-[#FBBF24] p-8 text-white;
  }
  .advertisement2 {
    @apply bg-linear-to-br from-[#22C55E] to-[#14B8A6] p-8 text-white;
  }
  .button1 {
    @apply w-fit bg-linear-to-r from-primary to-secondary p-2 px-12 text-white text-lg font-bold rounded-full text-center;
  }
  /* .button2 {
    @apply  w-fit p-2 px-12 bg-linear-to-r from-primary to-secondary bg-white bg-clip-text text-transparent text-lg font-bold text-center rounded-full;
  } */
  .button3{
    @apply w-fit bg-linear-to-r from-secondary to-accent p-2 px-12 text-white text-lg font-bold rounded-full text-center;
  }
  .gradient-text{
    @apply bg-white bg-linear-to-r from-primary to-secondary bg-clip-text text-transparent;
  }
}


*{
  direction: rtl;
  font-family: "Noto Kufi Arabic", sans-serif;
  user-select: none;
  box-sizing: border-box;
}
.scrollSlider {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}
.navApperance {
  animation: navApperance 0.5s ease-in-out;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}
@keyframes navApperance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}